.custom-button {
    display: flexbox;
    min-width: 125px;
    width: auto;
    height: 45px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 5px 20px 5px 20px;
    font-size: 80%;
    background-color: #fff;  
    color: #6c6d6d;
    border: 2px solid #6c6d6d;
    text-transform: uppercase;
    font-family: 'Geneva';//'Open Sans Condensed';
    font-weight: bold;
    border-radius: 15px 15px;
    justify-content: center;
    box-sizing: content-box;
    align-items: center;
    cursor: pointer;
  
    &:hover {
      background-color: #fff;
      color: #1b97da;
      border: 2px solid #1b97da;
    }
    
  &.google-sign-in{
    background-color: #73b9fcea;
    border: 2px solid #5793f5ea;
    color: white;
    &:hover{
      background-color: #5793f5ea;
      border: 2px solid #5793f5ea; //#4285f4;
    }
  }

}