.pet-details-container{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    height: auto;
    width: auto;
    background-color: rgb(235, 235, 235);
    border: 1px dotted rgba(199, 198, 198, 0.808);
}